body {
  background-color: #e9f1f7;
  color: #111;
}

.styled-form {
  background-color: #fff;
  color: #111;
}

.styled-form input {
  background-color: #fff;
  color: #111;
  border: 1px solid #ccc;
}

.styled-form label {
  color: #111;
}

body.dark-mode {
  background-color: #111;
  color: #eee;
}

body.dark-mode nav {
  background-color: #222;
}

body.dark-mode nav a {
  color: #ffcc00;
}

body.dark-mode .header {
  background-color: #222;
  color: #fff;
}

body.dark-mode .styled-form {
  background-color: #222;
  color: #eee;
}

body.dark-mode .styled-form input {
  background-color: #333;
  color: #eee;
  border: 1px solid #555;
}

body.dark-mode .styled-form label {
  color: #eee;
}
